
body{
	background: #F8F8FF

}
/*Header*/
.navbar{
	margin-bottom:0; 
}
.enlace-menu{
	color: white;
	font-size: 18px;
}

.item-color a:hover{
	background: #0ABBB5!important;

}

/*Jumbotron*/
.jumbotron{
	margin-bottom: 0;
}
.datos-seccion{
	background:#00A3B2;
	color: #fff;
	text-align: center;
	margin-bottom: 45px;
}
.logo{
	border: 1px solid white;
	width: 15em;
}
.titulo-principal{
		text-align: center;
		font-size: 35pt!important;
		font-family: arial;
}
	.descripcion-principal{
		text-align: center;
		font-size: 20pt!important;
		font-family: arial;
	}

	.col-md-3{
		text-align: center;
		margin-top: 15px;
		margin-bottom: 15px;
	}
		.contenedor-img{
			padding: 0;
		}
			.imagen{
				display: inline-block;
				width: 100%;
			    border: 5px solid #eee;
			    -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
			    -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
			    box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
			   }
.contenedor-footer{
	background: #222222;
}
	.contenedor-copy{
		text-align: center;
		vertical-align: top;
		margin: 20pt auto;
		font-size: 12px;
		color: #ccc;
	}
	.lista-footer{
		margin-top: 20pt!important;
	}
/*A cerca de */
.perfil{
	width: 140pt;
	margin: 4em auto;
}
	.img-perfil{
		width: 100%;
		text-align: center;
		border-radius: 50%;
		margin-bottom: -12em;
	}
.acercademi{
	font-size: 16pt;
	padding-right: 3em;
}
.contacto{
	font-size: 16pt;
}

/*Portafolio*/
.jumbotron-portafolio{
	background:#00A3B2;
	color: #fff;
	text-align: middle;

}
.titulo-portafolio{
		text-align: center;
		font-size: 35pt!important;
}
	.descripcion-portafolio{
		text-align: center;
		font-size: 20pt!important;
	}
	.cont-desPortafolio-trabajos{
		width: 80%;
		margin: 0 auto;
		margin-top: 3%;
	}
	.titulo-descTrabajo{
		color: #21ADD0;
		font-weight: bold;
		font-family: Arial, sans-serif;
		margin:10%;
	}
	.text-portafolio{
		color: #4C4C4C;
		font-size: 18px;
		font-family: Arial, sans-serif;
		margin:0 10%;
		text-align: left;
		
	}
	.btn-portafolio{
		background: #05C2C4;
		border: 0;
		font-size: 18px;
		margin: 10%;
		padding: 10px;
		
	}

.contenedor-tabajos div {
	padding-left: 0!important;
	padding-right: 0!important;
}	
	.figure{
		width: 100%;
	
	}
		.imagen-portafolio{
			width: inherit;
			
		}
		.img-tsidental{
			border: 1px solid #DCDCDC;
		}
	.imagenTrabajo-posicion2{
		display: none;
	}

/*Contacto*/
.lista-redes{
	margin-right: 19px;
}
	.lista-redes a{
		display: inline-block;
		text-align: center;
		width: 50px;
	}
		.icon-redes{
			background: white;
			border-radius: 50%;
		}
		.icon-redes:hover{
			background: #999999;
		}

		.img-redes{
			color: white;
			margin: 10px 0;
		}
/*AJAX GIF y mensajes de exito o fracaso*/
.procesando{
	position: relative;
}
.hideAjax{
	display: none;
}
.ajaxgif{
	position: absolute;
	right: 60%;
	top: 27px;
}
.msg{
	color:  #589D05;
	font-weight: bold;
	font-size: 12px;
	height: 30px;
	line-height: 28px;
	padding: 0 10px;
	width: 50%;
	top: 27px;
	left: 200px;
	position: absolute;
	text-transform: uppercase;
	min-width: 121px;
}
.msg_error{
	background: red;
}
/*Inicia redes del footer*/
.redes-footer{
	margin-top: 12pt!important;
	text-align: left;
}
.redes-footer{
	padding-left: 0;
	padding-right: 0;
}
.icon-redesFooter{
	background:  #999999;
}
	.lista-redesFooter a{
		display: inline-block;
		width: 50px;
		margin: 3px!important;
	}
		.icon-redesFooter img{
			text-align: center;
			margin: 10px;
		}
		.icon-redesFooter:hover{
			background:  #fff;
		}
.cont-seccionContacto{
	margin-bottom: 2em;
}
.seccion-contacto{
	padding-right: 4.5em;
}
	.btn-secContacto{
		margin-top: 2em;
	}


/*MEDIA QUERIES*/
@media (max-width:1199px){
	.titulo-descTrabajo,.btn-portafolio{
		margin:6%;
	}
	.text-portafolio{
		margin:0 6%;
		
	}
}
@media (max-width:  1049px){
	.contenedor-img{
		background: #F8F8FF;
	}
	.lista-redes{
		display: none;
	}
	
}
@media (max-width:  989px){
	.datos-seccion{
		margin-bottom: 0;
	}
	.img-responsivo{
		display: none;
	}
	.img-home img{
		width: 100%;
		margin: 0 auto;
	}
	/*Acerca de mi*/
	.img-perfil{
		width: 70%;
		margin-top: 0;
		margin-bottom: -10em;
	}
	.acercademi{
		margin-top: 4em;
		padding-right: 15px;
	}
	/*portafolio*/
	.imagenTrabajo-posicion1{
		display: none;
	}
	.imagenTrabajo-posicion2{
		display: block;
	}
	/*Contacto*/
	.seccion-contacto{
		padding-right: 15px;
	}
	/*Lista Footer*/
	.icon-redesFooter{
		border-radius: 50%;
	}
}
@media(max-width: 769px){
	.cont-listaSeccion{
		width: 100%;
	}
	.list-inline{
		text-align: center;
	}
}
@media(max-width: 499px){
	.img-herramientas{
		width: 100%;
		margin: 0 auto;

	}
	/*Footer*/
	.copy-footer{
		font-size: 13px!important;
	}


}