<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
	
	<title>Silvia lopez | Sobre mi.</title>
	<meta name="Description" content="Desarrollador Web Frontend,Lic. Silvia López Hernández.">
	<link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico">

	<link rel="stylesheet" href="../static/style.css">
	<link rel="stylesheet" href="../menu.css">

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-74872804-1', 'auto');
	  ga('send', 'pageview');

	</script>
</head>
<body>
	<header>
		<div class="menu_bar">
			<a href="#" class="bt-menu"><span class="icon-menu"></span>Menu</a>
		</div>
 
		<nav>
			<ul>
				<li><a href="../index.html"><span class="icon-home2"></span>HOME</a></li>
				<li><a href="about_me.html"><span class="icon-profile"></span>ABOUT ME</a></li>
				<li><a href="portafolio.html"><span class="icon-stack"></span>WORK</a></li>
				<li><a href="../envioCorreo/contact.html"><span class="icon-envelop"></span>CONTACT</a></li>
			</ul>
		</nav>
	</header>
	<section class="ContainerSite_aboutMe">
		<article class="aboutMe">
			<h1 class="titulo-sobreMi">Sobre mí.</h1>
			<h2 class="text-aboutMe">
					Soy Silvia López, Desarrollador Web FrontEnd "colaborando con la interfaz y experiencia del usuario."
				</h2>
		</article>
		<article class="Container_aboutMe">
			<figure class="ContainerAboutMe_img">
				<img src="../static/img/yo.jpg"class="img-yo" alt="Silvia López Herández">
				<figcaption><b class="nombre">Lic. Silvia López Hernández</b></figcaption>
				<figcaption class="mail-aboutme">
				<a class="correo-about" href="mailto:silvialoph@gmail.com">silvialoph@gmail.com </a><br>
				<a class="correo-about" href="silvia_loph@hotmail.com">silvia_loph@hotmail.com</a>
				</figcaption>
			</figure>
		</article> 
		<article class="Container_aboutMe linea-descripcion">
				<h3 class="Description-aboutMe">
					<b>O</b>riginalmente inicie mi experiencia laboral en el área de Soporte Técnico y al mismo tiempo desempeñando tareas propias del área de sistemas. Tras decidir mi especialidad me he enfocado al Desarrollo Web independiente, proporcionando mis servicios como Freelance.<br><br>
					Me gradue de la Lic. En Ciencias de la Informática y posteriormente culminé un Posgrado en Sistemas Computacionales.</h3>
		</article>
		
	</section>
	<footer class="Container-footer">
		<div class="contacto-footer">
				<ul class="redes">
					<li class="redes_item">
						<a href="https://www.facebook.com/" target="_blank"><img src="../static/img/fb.png" target="_blank"/></a>
					</li>
					<li class="redes_item">
						<a href="https://twitter.com/?lang=es" target="_black"><img src="../static/img/twitter.png" target="_blank"/></a>
					</li>
					<li class="redes_item">
						<a href="https://www.linkedin.com/fetch/importAndInviteEntry?trk=nav_utilities_add_connx" target="_black"><img src="../static/img/in.png" target="_blank"/></a>
					</li>
				</ul>
		</div>
		<div class="Container-copyright">
			<p>Copyright 2015 Silvia López. All rights reserved.</p>
		</div>
			
	</footer>
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" src="../static/script.js"></script>
</body>
</html>