<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Add venobox -->
	<link rel="stylesheet" href="../VENOBOX/venobox/venobox.css" type="text/css" media="screen" />
	

	<title>Silvia lopez | Trabajos profesionales </title>
	<meta name="Description" content="Presentación de sitios web recientes en los que he trabajado como freelance.">
	<link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico">

	<link rel="stylesheet" href="../static/style.css">
	<link rel="stylesheet" href="../menu.css">

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-74872804-1', 'auto');
	  ga('send', 'pageview');

	</script>
</head>
	
<body>
	<header>
		<div class="menu_bar">
			<a href="#" class="bt-menu"><span class="icon-menu"></span>Menu</a>
		</div>
 
		<nav>
			<ul>
				<li><a href="../index.html"><span class="icon-home2"></span>HOME</a></li>
				<li><a href="about_me.html"><span class="icon-profile"></span>ABOUT ME</a></li>
				<li><a href="portafolio.html"><span class="icon-stack"></span>WORK</a></li>
				<li><a href="../envioCorreo/contact.html"><span class="icon-envelop"></span>CONTACT</a></li>
			</ul>
		</nav>
	</header>
	<section class="work">
		<h1 class="portafolio">Portafolio.</h1>
		<h3 class="muestra-work">Muestra de trabajos recientes.</h3>
		<!--inicia slider 3d-Rotator-->
		<section class="contenedor-portafolio">
			<article class="cont-internoPortafolio1">
				<div class="cont-imagen">

					<a class="venobox" data-gall="myGallery" href="../static/img/pazzo.png" height="20" width="100"><img src="../static/img/pazzo.png" alt="PAZZO" /></a>

				</div>
			</article>
			<article class="cont-internoPortafolio2">
				<h3 class="proyecto">PAZZO</h3>
				<div class="desc-proyecto">
					<p class="trab-protecto">
						Desarrollo de sitio web Responsivo para Mr. Pazzo, el sitio fue desarrollado con el uso de las siguientes herramientas: HTML5, CSS3, JavaScript, Jquery, PHP y manejo de sistema de versionamiento git para trabajo en equipo. 
					</p>
				</div>
				<div class="btn-portafolio">
					<form action="http://mrpazzo.com.mx/"target="_blank">
						<input type="submit" class="btn-view" value="VIEW WEBSITE">
					</form>
				</div>
			</article>
			<div class="pie-articulo">
				<div class="datos-publicacion">
					<p class="datos-portafolio1">Diciembre 2015</p>
					<p class="datos-portafolio2">www.pazzo.com.mx</p>
					<p class="datos-portafolio3">Colaboración</p>
				</div>
			</div>
			<article class="cont-internoPortafolio1">
				<div class="cont-imagen">
					
					<a class="venobox" data-gall="myGallery" href="../static/img/tsidental.png" height="20" width="100"><img src="../static/img/tsidental.png" alt="TSIDENTAL" /></a>

				</div>
			</article>
			<article class="cont-internoPortafolio2">
				<h3 class="proyecto">TSIDENTAL</h3>
				<div class="desc-proyecto">
					<p class="trab-protecto">
						Programacion y Desarrollo de sitio web Responsivo para Clinica Dental TSIDENTAL, el sitio fue desarrollado con el uso de HTML5, CSS3, Jquery, PHP, AJAX y manejo de sistema de versionamiento git.
					</p>
				</div>
				<div class="btn-portafolio">
					<form action="http://geektsu.com/freelance/tsidental/index.html" target="_blank">
						<input type="submit" class="btn-view" value="VIEW WEBSITE">
					</form>
				</div>
			</article>
			<div class="pie-articulo">
				<div class="datos-publicacion">
					<p class="datos-portafolio1">Febrero 2016</p>
					<p class="datos-portafolio2">www.tsidental.com.mx</p>
					<p class="datos-portafolio3">Desarrollo</p>
				</div>
			</div>
		</section>
				
		
	</section>
	<footer class="Container-footer">
		<div class="contacto-footer">
				<ul class="redes">
					<li class="redes_item">
						<a href="https://www.facebook.com/" target="_blank"><img src="../static/img/fb.png" target="_blank"/></a>
					</li>
					<li class="redes_item">
						<a href="https://twitter.com/?lang=es" target="_black"><img src="../static/img/twitter.png" target="_blank"/></a>
					</li>
					<li class="redes_item">
						<a href="https://www.linkedin.com/fetch/importAndInviteEntry?trk=nav_utilities_add_connx" target="_black"><img src="../static/img/in.png" target="_blank"/></a>
					</li>
				</ul>
		</div>
		<div class="Container-copyright">
			<p>Copyright 2015 Silvia López. All rights reserved.
			</p>
		</div>
	</footer>
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" src="../static/script.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="../VENOBOX/venobox/venobox.min.js"></script>
	<script type="text/javascript" src="../VENOBOX/js/script-modal.js"></script>
	
</body>
</html>